body {
   color: white;
   background-color: #333;
   font-size: 150%;
   font-family: 'Satisfy', cursive;
   margin: 5em 25%;
}

p {
    font-size: x-large;
}
ol {
    font-family: 'Courier New', Courier, monospace;
    font: 100;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic
}