body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    font-size: x-large;
}
ol {
    font-family: 'Courier New', Courier, monospace;
    font: 100;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic
}